{
  "vm_name": "Arch",
  "proc": [
    {
      "name": "frpc.exe",
      "path": "D:\\frpc.exe",
      "args": ["-c", "D:\\frpc.ini"],
      "auto_start": true
    },
    {
      "name": "wv2ray.exe",
      "path": "D:\\wv2ray.exe",
      "args": ["-config", "D:\\config_new.json"],
      "auto_start": false
    }
  ],
  "v2ray": {
    "dir": "D:\\v2ray",
    "config_file": "config_new.json",
    "config": [
      {
        "address": "host1",
        "port": 12345,
        "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
      },
      {
        "address": "host2",
        "port": 54321,
        "id": "yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy"
      }
    ]
  }
}
